.relleno {
    width: 350px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    float: center;
    margin-top: 4px;
}

.solicitudes > div{
    text-align: center;
}

.botonBuscar {
    width: 100px;
    height: 40px;
    font-family: "GloriaHallelujah";
    font-size: 100%;
    border-radius: 10px;
    background-color: #B404AE;
    color: white;
    font-weight: bold;
}