.datoFecha {
    width: 30%;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    margin-left: 18px;
    /* Para que el texto donde aparece la fecha este centrado */
    text-align: center;
}

.datoImagen {
    width: 380px;
    margin-left: 30px;
    float: right;
    margin-top: 8px;
}

.datoSexo {
    width: 380px;
    float: right;
    margin-top: 5px;
}

/*Todo el formulario podria haberse tratado como 
un grid, OJO!, está bien así, pero lo más 
normal hubiera sido usar un grid*/

.datoSexo > input,
.genero {
    margin-right: 5px;
}
