.fotoPerfil {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    margin-top: 10px;
    padding: 1px;
    margin-right: 25px;
    float: left;
}

.perfil > div  {
    
    margin-left: 30%;
    text-align: left;
}

.perfil > div > p {
    margin: 10px;
}

p.datos {
    font-family: sans-serif;
}

.nombre {
    font-weight: bold;;
    font-size: 20px;
}

input.botonModificar {
    width: 200px;
    height: 50px;
    margin: auto;
    display: block;
    position: relative;
    margin-top: 10%;
    font-family: "GloriaHallelujah";
    font-size: 120%;
    border-radius: 10px;
    background-color: #B404AE;
    color: white;
    font-weight: bold;
}