body{
    font-family: "GloriaHallelujah";
    margin:0;
    background-image: url(img/Fondo.jpg);
}
@font-face {
    font-family: "GloriaHallelujah";
    src: url("fonts/GloriaHallelujah.ttf");
}
div.top{
    overflow: inherit;
}
div.top >div{
    margin-left:10%;
    margin-top:0.5%;
}

div.top >div >a{
    font-family: "GloriaHallelujah";
    font-weight: bold;
    color:white;
    text-decoration: none;
    padding: 20px;
    font-size: 160%;
}
#LogoImg{
    display: block;
    margin: auto;
    width:600px;
}
div.login{
    margin-top:1%;
}
div.login >p{
    text-align: center;
    font-size: 30px;
    font-weight:bold;
}

div.login >div{
    font-family: sans-serif;
    /*¿Para que el display?*/
    display:block;
    margin:auto;
    background-color: purple;
    color:white;
    border-radius: 10px;
    width:600px;
    padding-bottom: 0.1%;
}
div.login > div > ul >li{
    padding: 2%;
    list-style: none;
}

input[type=text] {
    width: 80%;
    margin-right:4%;
    float:right;
    border-radius: 10px;
    box-sizing: border-box;
}


form.email {
    padding-top: 5%;
}

/* No esta en el centro completamente*/
input.botones {
    width: 150px;
    height: 50px;
    left: 50%;
    position:relative;
    margin-left: -75px;
    margin-top: 5%;
    font-family: "GloriaHallelujah";
    font-size: 140%;
    left: 50%;
    border-radius: 10px;
    background-color: mediumpurple;
    color: white;
}
