body {
    font-family: "GloriaHallelujah";
    margin: 0;
    background-image: url(img/Fondo.jpg);
}

@font-face {
    font-family: "GloriaHallelujah";
    src: url("fonts/GloriaHallelujah.ttf");
}

div.top {
    overflow: inherit;
}

.botonesArriba {
    margin-left: 10%;
    margin-top: 0.5%;
}

.botonesArriba > a {
    font-family: "GloriaHallelujah";
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 160%;
}
.botonesArriba > a:hover{
    color:lightgray;
}

#LogoImg {
    display: block;
    margin: auto;
    width: 600px;
}

div.login {
    margin-top: 1%;
}

label {
    font-family: sans-serif;
}

.recuadro {

    /*¿Para que el display?*/
    display: block;
    margin: auto;
    background-color: purple;
    color: white;
    border-radius: 10px;
    max-width: 550px;
    padding: 40px;

}

div.login > p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.rellenar {
    width: 390px;
    border-radius: 10px;
    box-sizing: border-box;
    float: right;
}

input.botones {
    width: 150px;
    height: 50px;
    left: 50%;
    position: relative;
    margin-left: -75px;
    margin-top: 5%;
    font-family: "GloriaHallelujah";
    font-size: 140%;
    left: 50%;
    border-radius: 10px;
    background-color: mediumpurple;
    color: white;
}