<!DOCTYPE html>
<html lang="es">

<head>
	<title>Error 404</title>
	<link rel="shortcut icon" href="img/favicon.ico">
	<meta charset="utf-8" />
</head>

<body>
	<h1>Error 404</h1>
	<p>La URL <%=url%> solicitada no ha sido encontrada</p>
</body>

</html>