<!DOCTYPE html>
<html lang="es">

<head>
    <title> Nueva pregunta - Facebluff </title>
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/style.css" media="screen">
    <link rel="stylesheet" href="css/styleNewUser.css" media="screen">
    <meta charset="utf-8" />
</head>

<body>
        <%- include("headerIn") %>

    <div class="login">
        <p>Nueva pregunta</p>
        <div class="recuadro">
            <form method="POST" action="/addQuestion">
                <!-- Contenido del formulario -->
                <div>
                    <label>Título de la pregunta </label>
                    <input class="rellenar" type="text" name="question">
                </div>
                <div>
                    <label> Respuestas </label>
                    <textarea class="rellenar" name="answers" placeholder="¡Escriba aquí las respuestas!"></textarea>
                </div>
                <input class="botonAdd" type="submit" value="Crear pregunta">
            </form>
        </div>
    </div>
    <% let errorMsg = getFlash(); %>
            <% if (errorMsg) { %>
                <div class="error">
                    <%= errorMsg %>
                </div>
                <% } %>
    <% if (errores.question) { %>
        <div class="error">
            <%= errores.question.msg %>
        </div>
        <% } %>
            <% if (errores.answers) { %>
                <div class="error">
                    <%= errores.answers.msg %>
                </div>
                <% } %>
</body>

</html>