<headerOut>
<body>
    <div class="top">
        <img id="LogoImg" src="img/Logo.png" alt="logo">
        <div class="botonesArriba">
            <a href="/login.html">Entrar</a>
            <a href="/new_user.html">Nuevo Usuario</a>
            <a target="_blank" href=" http://mperez01.github.io/Facebluff/">Info</a>
        </div>
    </div>
</headerOut>