<!DOCTYPE html>
<html lang="es">

<head>
    <title> Bienvenido - Facebluff </title>
    <link rel="stylesheet" href="css/style.css" media="screen">
    <meta charset="utf-8" />
</head>

<body>
    <div class="top">
        <img id="LogoImg" src="img/Logo.png" alt="logo">
        <div class="botonesArriba">
            <a href="/login.html">Entrar</a>
            <a href="/new_user.html">Nuevo Usuario</a>
        </div>
    </div>
    <div class="login">
        <p>Entrar</p>
        <div class="recuadro">
            <form action="/login" method="POST">
                <div>
                    <label>Email </label>
                    <input class="rellenar" type="email" name="email">
                </div>
                <div>
                    <label>Contraseña </label>
                    <input class="rellenar" type="password" name="pass">
                </div>
                <input class="boton" type="submit" value="Conectar">
            </form>
        </div>
        <% let errorMsg = getFlash(); %>
            <% if (errorMsg) { %>
                <div class="error">
                    <%= errorMsg %>
                </div>
                <% } %>
                    <% if (errores.email) { %>
                        <div class="error">
                            <%= errores.email.msg %>
                        </div>
                        <% } %>
                            <% if (errores.pass) { %>
                                <div class="error">
                                    <%= errores.pass.msg %>
                                </div>
                                <% } %>
    </div>
    <footer>
        <div>Marcelino Pérez Durán y Mario Rodríguez Salinero 
            <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                <img alt="Licencia de Creative Commons" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" />
            </a>
        </div>
        <div>Este obra está bajo una
            <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">licencia de Creative Commons Reconocimiento-NoComercial-CompartirIgual 4.0 Internacional</a>.</div>
    </footer>
</body>

</html>