<!DOCTYPE html>
<html lang="es">

<head>
    <title> Nuevo usuario - Facebluff </title>
    <link rel="stylesheet" href="css/style.css" media="screen">
    <link rel="stylesheet" href="css/styleNewUser.css" media="screen">
    <meta charset="utf-8" />
</head>

<body>
    <div class="top">
        <img id="LogoImg" src="img/Logo.png" alt="logo">
        <div class="botonesArriba">
            <a href="/login.html">Entrar</a>
            <a href="/new_user.html">Nuevo Usuario</a>
        </div>
    </div>

    <div class="login">
        <p>Nuevo usuario</p>
        <div class="recuadro">
            <form method="POST" action="/new_user" enctype="multipart/form-data">
                <!-- Contenido del formulario -->
                <div>
                    <label for="formEmail">Email </label>
                    <input class="rellenar" type="email" name="email" id="formEmail" required>
                </div>
                <div>
                    <label for="formContraseña">Contraseña </label>
                    <input class="rellenar" type="password" name="password" id="formContraseña" required>
                </div>
                <div>
                    <label for="formNombre"> Nombre completo </label>
                    <input class="rellenar" type="text" name="name" id="formNombre" required>
                </div>
                <div>
                    <label> Sexo </label>
                    <label class="datoSexo">
                    <input type="radio" name="gender" value="male" required> Masculino

                    <input type="radio" name="gender" value="female"> Femenino 

                    <input type="radio" name="gender" value="other"> Otro
                    </label>
                </div>
                <div>
                    <label for="formFecha"> Fecha de nacimiento </label>
                    <input class="datoFecha" type="date" name="date" id="formFecha">
                </div>
                <div>
                    <label for="formImg"> Imagen de perfil </label>
                    <input class="datoImagen" name="uploadedfile" id="formImg" type="file">
                </div>
                <input class="boton" type="submit" value="Crear usuario">
            </form>
        </div>

    </div>
</body>

</html>
