<!DOCTYPE html>
<html lang="es">

<head>
    <title> Búsqueda - FaceBluff </title>
    <link rel="stylesheet" href="css/style.css" media="screen">
    <link rel="stylesheet" href="css/styleQuestions.css" media="screen">
    <meta charset="utf-8" />
</head>

<body>
    <div class="top">
        <img id="LogoImg" src="img/Logo.png" alt="logo">
        <div class="botonesArriba">
            <a href="/my_profile">Perfil</a>
            <a href="/friends">Amigos</a>
            <a href="/questions">Preguntas</a>
            <a href="/logout">Desconectar</a>
            <label>
                <img class="iconoPerfil" src="/imagenUsuario/<%=user.image%>" alt="fotoPerfil">
                <%= user.points %>
            </label>
        </div>
    </div>
    <div>
        <div>
            <p class="title">Preguntas seleccionadas aleatoriamente</p>
            <ul>
                    <li>
                       <p class="preguntaAleatoria">¿Como te llamas? </p> 
                    </li>
            </ul>
        </div>
        <div>
            <p class="title">¡Añade tus preguntas!</p>
            
        </div>
    </div>
</body>
</html>