<!DOCTYPE html>
<html lang="es">

<head>
    <title> Búsqueda - FaceBluff </title>
    <link rel="stylesheet" href="css/style.css" media="screen">
    <link rel="stylesheet" href="css/styleQuestions.css" media="screen">
    <meta charset="utf-8" />
</head>

<body>
    <div class="top">
        <img id="LogoImg" src="img/Logo.png" alt="logo">
        <div class="botonesArriba">
            <a href="/my_profile">Perfil</a>
            <a href="/friends">Amigos</a>
            <a href="/questions">Preguntas</a>
            <a href="/logout">Desconectar</a>
            <label>
                <img class="iconoPerfil" src="/imagenUsuario/<%=user.image%>" alt="fotoPerfil">
                <%= user.points %>
            </label>
        </div>
    </div>
    <div class="solicitudes">
        <div>
            <p>Preguntas seleccionadas aleatoriamente</p>
        </div>
        <div class="preguntasAleatorias">
            <ul>
                <%questions.forEach(question=>{%>
                    <li>
                        <p>
                            <%=question.text%>
                        </p>
                    </li>
                    <% }); %>
            </ul>
        </div>
        <div class="nuevaPregunta">
            <p>¡¡Añade tus preguntas!!</p>
            <div>
                <form method="GET" action="/addQuestion">
                    <input class="boton" type="submit" value="Crear nueva pregunta">
                </form>
            </div>
        </div>
    </div>
</body>

</html>