<!DOCTYPE html>
<html lang="es">

<head>
    <title> Preguntas - FaceBluff </title>
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/style.css" media="screen">
    <link rel="stylesheet" href="css/styleQuestions.css" media="screen">
    <meta charset="utf-8" />
</head>

<body>
        <%- include("headerIn") %>
    <div class="solicitudes">
        <div>
            <p>Preguntas seleccionadas aleatoriamente</p>
        </div>
        <%questions.forEach(question=>{%>
            <div class="preguntasAleatorias">
                <ul>
                    <li>
                        <form method="GET" action="/quest_menu">
                            <input type="hidden" name="question_id" value="<%=question.id%>">
                            <input class="pregunta" type="submit" value="<%=question.text%>">
                        </form>
                    </li>
                </ul>
            </div>
            <% }); %>
            <% let errorMsg = getFlash(); %>
            <% if (errorMsg) { %>
                <div class="error">
                    <%= errorMsg %>
                </div>
                <% } %>
                <div class="nuevaPregunta">
                    <p>¡Añade tus preguntas!</p>
                    <div>
                        <form method="GET" action="/addQuestion">
                            <input class="boton" type="submit" value="Crear nueva pregunta">
                        </form>
                    </div>
                </div>
    </div>
</body>

</html>