<!DOCTYPE html>
<html lang="es">

<head>
    <title> Perfil - Facebluff </title>
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/style.css" media="screen">
    <link rel="stylesheet" href="css/styleImages.css" media="screen">
    <meta charset="utf-8" />
</head>

<body>
    <%- include("headerIn") %>
        <div>
            <div class="login">
            <p>Subir fotos</p>
        </div>
        <div>
            <%if(user.points<100){%>
                <div class="error">
                    <p>No se puede subir una nueva imagen ya que necesita de al menos 100 puntos para subir una imagen</p>
                    <p>Para conseguir puntos, adivine las preguntas de otros usuarios!</p>
                    <p>Tiene
                        <%=user.points%> puntos</p>
                    <a href="/my_profile" class="boton">Volver a mi perfil</a>
                </div>
                <%}else{%>
                    <div class="recuadro">
                        <form method="POST" action="/add_img" enctype="multipart/form-data">
                            <div>
                                <label for="img"> Imagen: </label>
                                <input class="datoImagen" id="img" name="uploadedfile" type="file" accept="image/*">
                            </div>
                            <div>
                                <label for="formDescripcion"> Descripción de la imagen: </label>
                                <input class="textField" type="text" name="description" id="formDescripcion">
                                <% if (errores.description) { %>
                                    <span class="error"> <%= errores.description.msg %> </span>
                                <% } %>
                            </div>
                            <input class="boton" type="submit" value="Subir imagen">
                        </form>
                    </div>
                    <%}%>
        </div>
        <% let mensaje = getFlash(); %>
        <% if (mensaje) { %>
            <div class="error">
                <%= mensaje %>
            </div>
        <% } %>
</body>

</html>