body {
    font-family: "Jura";
    margin: 0px;
    margin-bottom: 1%;
     background-repeat: repeat-x;
}

@font-face {
    font-family: "Jura";
    src: url("../fonts/Jura/Jura-Regular.ttf");
}

div.top {

    background: whitesmoke;
    /*background: rgb(0,172,238);*/
    /*background: rgb(36,41,46);*/
    border-bottom: 1px solid black;
    background-repeat: repeat-x;
}

.botonesArribaIn, .botonesArribaOut {
    margin-top: 0.5%;
    text-align: center;
    margin-bottom: 11px;
}

.botonesArribaIn > label, .botonesArribaOut > label {
    font-family: "Jura";
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.botonesArribaIn > a, .botonesArribaOut > a{
    font-family: "JuraBold";
    color: black;
    text-decoration: none;
    margin: 15px;
    padding: 15px;
    font-size: 100%;
    margin-right: 10px;
}

.botonesArribaIn > a:hover {
    color: whitesmoke;
    padding-bottom: 16px;
    background-color: rgb(0,136,188);
}
.botonesArribaOut > a:hover {
    color: whitesmoke;
    padding-bottom: 13px;
    background-color: rgb(0,136,188);
}

#LogoImg {
    margin-left: 20px;
    margin-top: 10px;
    width: 150px;
}

div.login,
.perfil {
    margin-top: 1%;
}

label {
    font-family: "Jura";
}

.recuadro {

    /*¿Para que el display?*/
    display: block;
    margin: auto;
    background-color: whitesmoke;
    border: 1px solid black;
    color: black;
    border-radius: 10px;
    width: 550px;
    padding: 40px;

}

.recuadro > form > div {
    margin: 10px;
}

div.login > p,
div.perfil > p,
div.solicitudes > div > p {
    text-align: center;
    font-size: 30px;
    font-family: "JuraBold"
}

.rellenar {
    width: 380px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    float: right;
    padding-left: 5px;
}

.boton , .botonAdd{
    margin: auto;
    display: block;
    color: black;
    /*width: auto;
    height: auto;*/
    border: 1px solid black;
    font-size: 140%;
    border-radius: 10px;
    background: whitesmoke;
    color: white(200,201,202);
    padding: 1%;
}

.boton:hover, .botonAdd:hover {
    background-color: rgb(0,136,188);
}

.botonAdd {
    margin-top: 110px;
}

.recuadro > form > .boton {
    margin-top: 5%;
}

.iconoPerfil {
    vertical-align: middle;
    width: 25px;
    margin-right: 8px;
}

.mensaje {
    font-family: sans-serif;
    text-align: center;
}

footer {
    font-family: sans-serif;
    display: block;
    position: absolute;
    font-size: 14px;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #f2f4f6;
    color: #6a7c8f;
}

.error {
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    color: red;
}
