.relleno {
    width: 350px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    float: center;
    margin-top: 4px;
    padding-left: 5px;
}

.solicitudes > div{
    text-align: center;
}

.nombre {
    vertical-align: -50%;
    border: none;
    background: none;
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 5%;
}

.nombre:hover {
    color:grey;
}

.botonAmigo {
    width: auto;
    height: auto;
    font-family: "GloriaHallelujah";
    font-size: 130%;
    border-radius: 10px;
    background-color: #B404AE;
    color: white;
    font-weight: bold;
    margin-right: 1%;
}

li {
    list-style-type: none;
}

.listAmigo {
    display:flex;
    margin: auto;
    justify-content: space-between;
    width: 40%;
    margin-top: 3%;
}

.fotoAmigo{
    vertical-align:middle;
    width: 60px;
    height: 60px;
    border: 1px solid black;
}
.userData{
    display:flex;
}
.botones{
    display: flex;
}

.botonBuscar {
    width: 100px;
    height: 40px;
    font-family: "GloriaHallelujah";
    font-size: 100%;
    border-radius: 10px;
    background-color: #B404AE;
    color: white;
    font-weight: bold;
}