body {
    font-family: "GloriaHallelujah";
    margin: 0px;
    background-image: url(../img/Fondo.jpg);
     background-repeat: repeat-x;
}

@font-face {
    font-family: "GloriaHallelujah";
    src: url("../fonts/GloriaHallelujah.ttf");
}

div.top {
    overflow: inherit;
}

.botonesArriba {
    /*margin-left: 10%;*/
    margin-top: 0.5%;
    text-align: center;
}

.botonesArriba > label {
    font-family: "GloriaHallelujah";
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.botonesArriba > a {

    font-family: "GloriaHallelujah";
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 120%;

}

.botonesArriba > a:hover {
    color: lightgray;
}

#LogoImg {
    display: block;
    margin: auto;
    width: 550px;
}

div.login,
.perfil {
    margin-top: 1%;
}

label {
    font-family: sans-serif;
}

.recuadro {
    margin: auto;
    background-color: purple;
    color: white;
    border-radius: 10px;
    width: 550px;
    padding: 40px;

}

div.login > p, div.perfil > p, div.solicitudes > div > p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.rellenar {
    width: 380px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    float: right;
    margin-top: 4px;
    padding-left: 5px;
}

.boton {
    margin: auto;
    display: block;
    font-family: "GloriaHallelujah";
    font-size: 140%;
    border-radius: 10px;
    background-color: #B404AE;
    color: white;
    font-weight: bold;
}

.recuadro > form > .boton{
    margin-top: 5%;
}

.perfil > .boton {
    margin-top: 6%;
}

.mensaje {
    font-family: sans-serif;
    text-align: center;
}

.error {
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    color: red;
}

.iconoPerfil {
    vertical-align: middle;
    width: 25px;
    margin-right: 8px;
}
footer {
    font-family: sans-serif;
    display: block;
    position: absolute;
    font-size: 14px;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #f2f4f6;
    color: #6a7c8f;
}

