.fotoPerfil {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    margin-top: 10px;
    padding: 1px;
    margin-right: 25px;
    float: left;
}

.userData  {
    margin-left: 30%;
    text-align: left;
}

.perfil > div > p {
    margin: 10px;
}

p.datos {
    font-family: sans-serif;
}

.nombre {
    font-weight: bold;;
    font-size: 20px;
}

.botonEliminar {
    margin: auto;
    display: block;
    margin-top: 7%;
    font-family: sans-serif;
    font-size: 100%;
    color: red;
    border:none;
    background: none;
}

.botonEliminar:hover {
    font-weight: bold;
}

.perfil>div>a{
margin: auto;
display: block;
font-size: 140%;
border-radius: 10px;
background: whitesmoke;
    color:black;
font-weight: bold;
margin-top: 7%;
width: 20%;
border: solid 1px black;
text-decoration: none;
text-align: center;
}

.perfil>div>a:hover {
    background-color: rgb(0,136,188);
}

.botonesAbajo{
display:flex;
position:relative;
margin:auto;
margin-top:8%;
width:80%;
}

.imagenes{
    margin-bottom: 5%;
}
.descripcion{
    text-align: center;

}
.image{
    display: block;
    margin: auto;
    width: 30%;
    height: 30%;
}