.fotoPerfil {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    margin-top: 10px;
    padding: 1px;
    margin-right: 25px;
    float: left;
}

.perfil > div  {
    margin-left: 30%;
    text-align: left;
}

.perfil > div > p {
    margin: 10px;
}

p.datos {
    font-family: sans-serif;
}

.nombre {
    font-weight: bold;;
    font-size: 20px;
}

.botonEliminar {
    margin: auto;
    display: block;
    margin-top: 7%;
    font-family: sans-serif;
    font-size: 100%;
    color: red;
    border:none;
    background: none;
}

.botonEliminar:hover {
    font-weight: bold;
}