.error{
    text-align:center;
    margin:auto;
    width: 50%;
    margin-top:5%;
}

.error>a{
    margin: auto;
    display: block;
    font-family: "GloriaHallelujah";
    font-size: 140%;
    border-radius: 10px;
    background-color: #B404AE;
    color: white;
    font-weight: bold;
    margin-top: 7%;
    width: 30%;
    text-decoration: none;
    text-align: center;
}